* {
  margin: 0;
  padding: 0;
}

body {
  background: #e7e7e7;
  font-family: "Roboto", sans-serif;
}

.linha {
  display: flex;
}

.wrapper {
  width: 900px;
  margin: 90px auto;

  justify-content: space-evenly;
}

.item-produto {
  background: #fff;
  width: 284px;
  height: 520px;
  border-radius: 3px;
  transition: box-whadow 0.2s ease-in-out;
}

.item-produto:hover {
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 7%), 0 10px 15px 0 rgb(0 0 0 / 10%);
}

.item-produto img {
  width: 284px;
  height: 284px;
}

.descricao {
  padding: 20px;
}

.oferta {
  background: #3483fa;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  padding: 2px 4px;
  margin: 8px 0 10px 0;
  display: inline-block;
}

.preco-antigo {
  color: #999;
  font-size: 12px;
  height: 15px;
  text-decoration: line-through;
}

.preco-novo {
  align-items: center;
}

.preco-novo h3 {
  color: #333;
  font-size: 24px;
  font-weight: 400;
  margin: 0 6px 0 0;
}

.destaque {
  color: #00a650;
  font-size: 14px;
  font-weight: 400;
}

.frete {
  align-items: center;
  margin: 2px 0 12px 0;
}

.frete svg {
  width: 38px;
  height: 12px;
  margin: 2px 0 0 2px;
}

.titulo-produto {
  color: #333;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2px;
  margin: 6px 0 0;
  line-height: 1.3;
}

.fornecedor {
  color: #8c8c8c;
  font-size: 12px;
  margin: 2px 0 0;
}
